language: ruby
rvm:
  - "2.1"
  - "2.2"
cache:
  - bundler
  - apt
before_install:
  - gem install bundler
script:
  - bundle exec rubocop
  - bundle exec rake db:migrate RAILS_ENV=test
  - bundle exec rake spec
