<div class="bg-slider">
	<!-- Content Slider -->

	<div class="row">
		<div class="large-12 hide-for-small">
			<h1>Lorem ipsum dolor sit amet</h1>

			<img src="http://placehold.it/1200x500&text=Slide Image 1" alt="slide image">

		</div>
	</div>

	<!-- End Content Slider -->
</div>
<div class="row">
    <div class="large-12 column">

        <div class="row">
            <div class="large-12 columns">

                <!-- Mobile Header -->

                <div class="row">
                    <div class="large-12 columns show-for-small">

                        <img src="http://placehold.it/1200x700&text=Mobile Header">

                    </div>
                </div>
                <br>

                <!-- End Mobile Header -->

                <div class="row">
                    <div class="large-12 columns">
						<%= image_tag("indoctrinatr_grafik.png") %>
                        <div class="row">
                            <!-- Column 1 -->
                            <div class="large-4 small-12 columns">

                                <h1>1. Create Latex template</h1>
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
									ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
									duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
									dolor sit amet.</p>

                            </div>
                            <!-- End Column 1 -->

                            <!-- Column 2 -->

                            <div class="large-4 small-12 columns">
								<h1>2. Create Latex template</h1>
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
									ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
									duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
									dolor sit amet.</p>
								<a href="#" class="primary-btn button expand">Get started now</a>
                            </div>

                            <!-- End Column 2 -->

                            <!-- Column 3 -->

                            <div class="large-4 small-12 columns">

								<h1>3. Create Latex template</h1>
								<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
									ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
									duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
									dolor sit amet.</p>

                            </div>

                            <!-- End Column 3 -->

                        </div>
                    </div>
                </div>

                <!-- End Content -->

            </div>
        </div>
	</div>
</div>
