<div class="row">
    <div class="large-12 columns">
        <h1>Upload templates</h1>
        <p> Agentur dkd Internet Service <br>
            Kaiserstraße 73 <br>
            60329 Frankfurt <br>
        </p>
        <p>
            Kontakt info@dkd.de <br>
            www.dkd.de<br>
            T +49 69 2475218-0<br>
            F +49 69 2475218-99<br>
        </p>
    </div>
</div>

