<div class="row">
    <div class="large-12 columns">
        <h1>Contact</h1>
        <p>
          dkd Internet Service<br>
          Kaiserstraße 73<br>
          60329 Frankfurt<br>
        </p>
        <p>
          W <%= link_to 'www.dkd.de', 'http://www.dkd.de/' %><br>
          M <%= mail_to 'info@dkd.de', 'info@dkd.de', subject: 'Indoctrinatr' %><br>
          T +49 69/2475218-0<br>
          F +49 69/2475218-99<br>
        </p>
    </div>
</div>
