<div class="row">
    <div class="large-12 columns">
        <h1>Upload Template pack</h1>
        <form>
            <div class="row">
                <div class="large-12 columns">
                    <label>
                        <input type="file" />
                    </label>
                </div>
            </div>
            <a href="#" class="secondary-btn">Upload template</a>
          </form>
    </div>
</div>