<%= simple_form_for(@document) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :document_submission %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
