<p id="notice"><%= notice %></p>

<p>
  <strong>Document submission:</strong>
  <%= @document.document_submission %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
