<div class='row'>
  <div class='large-12 column'>
    <h1>Error while ERB rendering</h1>
    <h2>Error Message</h2>
    <pre><%= @error_message %></pre>
    <h2>ERB Template</h2>
    <pre><%= @document_submission.content %></pre>
  </div>
</div>
