<div class="panel" id="<%= submitted_template_fields_form.object.template_field.id %>">
    <div class="row">
        <div class="large-6 columns">
            <div class="row collapse">
                <label><%= submitted_template_fields_form.object.to_form_label %></label>
                <div class="small-9 columns">
                    <%= submitted_template_fields_form.input :template_field_id, as: :hidden %>
                    <%= submitted_template_fields_form.input :value, as: :string, label: false, input_html: { class: 'datepicker' }, required: submitted_template_fields_form.object.template_field.required? %>
                </div>
            </div>
        </div>
    </div>
</div>
