<div class="large-4 columns">
  <%= submitted_template_fields_form.input :template_field_id, as: :hidden %>
  <%= submitted_template_fields_form.input :value, as: :text , label: submitted_template_fields_form.object.to_form_label %>
</div>