<h1>Listing document_submissions</h1>

<table>
  <thead>
    <tr>
      <th>Template</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @document_submissions.each do |document_submission| %>
      <tr>
        <td><%= document_submission.template_name %></td>
        <td><%= link_to 'Edit', edit_document_submission_path(document_submission) %></td>
        <td><%= link_to 'Destroy', document_submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document submission', new_document_submission_path %>
