<div class="row">
  <div class="large-12 column">
    <h1>Listing document_submissions</h1>

    <table class="wide">
      <thead>
        <tr>
          <th>Template</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @document_submissions.each do |document_submission| %>
          <tr>
            <td><%= document_submission.template_name %></td>
            <td>
              <ul class="button-group">
                <li><%= link_to 'Edit', edit_document_submission_path(document_submission), class: "button tiny" %></li>
                <li><%= link_to 'Destroy', document_submission, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert tiny" %></li>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>

<%= paginate @document_submissions %>
