<p id="notice"><%= notice %></p>

<p>
  <strong>Template:</strong>
  <%= @document_submission.template %>
</p>

<%= link_to 'Edit', edit_document_submission_path(@document_submission) %> |
<%= link_to 'Back', document_submissions_path %>
