<footer class="row">
    <div class="large-12 columns">
        <hr />
        <div class="row">
            <div class="columns">
                <small> &copy; Indoctrinatr is an Open Source Software project by <%= link_to "dkd", "http://dkd.de/" %></small>
            </div>
        </div>
    </div>
</footer>
