<div class="footer-container">
  <div class="row">
    <div class="large-12 columns">
      <ul>
        <li class="left"><%= t(:oss_project_by, revision: current_revision) %> <%= link_to "dkd", "https://dkd.de/" %></li>
        <li><%= link_to t(:contact), contact_url %></li>
      </ul>
    </div>
  </div>
</div>
<footer class="row">
  <div class="large-12 columns" />
</footer>