<div class="footer-container">
	<div class="row">
		<div class="large-12 columns">
			<ul>
				<li class="left"><%= link_to "Go to www.dkd.de", "http://dkd.de/"%></li>
				<li><%= link_to t(:contact), "#" %></li>
				<li><%= link_to t(:legal_notice), "#" %></li>
			</ul>
		</div>
	</div>
</div>
<footer class="row">
	<div class="large-12 columns">
		&copy; Indoctrinatr is an Open Source Software project by <%= link_to "dkd", "http://dkd.de/" %>
	</div>
</footer>