<%# add navigation links to this file %>
<li class="divider"></li>
<li><%= link_to "Templates", templates_path -%></li>
<li class="divider"></li>
<li><%= link_to "Document Submissions", document_submissions_path -%></li>
